<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>hello</title>
</head>
<body>
<form th:method="GET" th:action="@{/mainPage}" th:object="${person}">
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${persons}">
            <td th:text="${person.getName()}" />
            <td>
                <form th:action="@{/show/{id}(id=${person.id})}" method="GET">
                    <input type="hidden" name="id" th:value="${person.id}" />
                    <button type="submit">Show Info</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/myAccount}" class="btn btn-primary">Account</a>
</form>
</body>
</html>