<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Person Information</title>
</head>
<body>
<h2>Person Information</h2>
<div th:if="${person.isPresent()}">
  <p><strong>Name:</strong> <span th:text="${person.get().getName()}"></span></p>
  <p><strong>Email:</strong> <span th:text="${person.get().getEmail()}"></span></p>
  <p><strong>Location:</strong> <span th:text="${person.get().getLocation()}"></span></p>

  <form th:action="@{/addFriend}" th:method="POST">
    <input type="hidden" th:name="personId" th:value="${person.get().id}" />
    <input type="hidden" th:name="friendId" th:value="${person.get().id}" />
    <button type="submit" class="btn btn-primary">Add friend</button>
  </form>
  <form th:action="@{/deleteFriend}" th:method="POST">
    <input type="hidden" th:name="personId" th:value="${person.get().id}" />
    <input type="hidden" th:name="friendId" th:value="${person.get().id}" />
    <button type="submit" class="btn btn-primary">Delete friend</button>
  </form>
  <a th:href="@{'/chat/' + ${person.get().id}}" class="btn btn-primary">Go to Chat</a>
</div>
<div th:unless="${person.isPresent()}">
  <p>Person not found.</p>
</div>
<div th:if="${errorMessage}" class="error-message">
  <p th:text="${errorMessage}" style="color: red;"></p>
</div>
<a th:href="@{/mainPage}" class="btn btn-primary">Main page</a>
</body>
</html>